{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Privacy Policy for Geo-Smart PMS</h2>
                <hr>
                <p><strong>Last updated: October 22, 2025</strong></p>
                <p>Geo-Smart PMS ("us", "we", or "our") operates the Geo-Smart PMS website (the "Service").</p>
                <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.</p>

                <h4 class="mt-4">Information Collection and Use</h4>
                <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
                <h6>Personal Data</h6>
                <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to: Email address, First name and last name, Phone number, Address, Cookies and Usage Data.</p>

                <h4 class="mt-4">Use of Data</h4>
                <p>Geo-Smart PMS uses the collected data for various purposes:</p>
                <ul>
                    <li>To provide and maintain the Service</li>
                    <li>To notify you about changes to our Service</li>
                    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                    <li>To provide customer care and support</li>
                    <li>To provide analysis or valuable information so that we can improve the Service</li>
                    <li>To monitor the usage of the Service</li>
                    <li>To detect, prevent and address technical issues</li>
                </ul>

                <h4 class="mt-4">Security of Data</h4>
                <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}